syntax:glob

*.bak
*.pyc
*.pyo
*.swp
bin
coverage
develop/*
develop-eggs
docs/_build
docs/doctrees
dist
grokwiki/src/grokwiki.egg-info/
myapp/myapp.egg-info/
eggs
.installed.cfg
parts
src/*.egg-info
var/
